:root {
  --background: #f7f9fc;
  --foreground: #313131;
  --orange-color: #ff7c40;
  --white-color: #ffffff;
  --blue-color: #06255b;
  --dark-orange-color: #da5d24;
  --orange-hovered-color: #ba4e1d;
  --main-color: #2f3034;
  --ligth-text-color: #f7f7f7;
  --grey-color: #abb5c7;
  --light-grey-color: #d5d5d5;
  --grey-text-color: #53565a;
  --black-color: #000000;
  --grey-text-color: #737b7d;
  --grey-border-color: #e2e2e2;
  --bullet-color: #d9d9d9;
  --grey-color-nav: #a8acad;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
