// size 15
@mixin fontS15W400 {
  font-size: 15px;
  font-weight: 400;
}

@mixin fontS15W600 {
  font-size: 15px;
  font-weight: 600;
}

@mixin fontS15W700 {
  font-size: 15px;
  font-weight: 700;
}

// size 16
@mixin fontS16W400 {
  font-size: 16px;
  font-weight: 400;
}

// size 18
@mixin fontS18W400 {
  font-size: 18px;
  font-weight: 400;
}

// size 20
@mixin fontS20W900 {
  font-size: 20px;
  font-weight: 900;
}

// size 26
@mixin fontS26W300 {
  font-size: 26px;
  font-weight: 300;
}

// size 30
@mixin fontS30W700 {
  font-size: 30px;
  font-weight: 700;
}

// size 38
@mixin fontS38W400 {
  font-size: 38px;
  font-weight: 400;
}
