// size 12
@mixin fontS12W600 {
  font-size: 12px;
  font-weight: 600;
}

// size 13
@mixin fontS13W400 {
  font-size: 13px;
  font-weight: 400;
}

@mixin fontS13W600 {
  font-size: 13px;
  font-weight: 600;
}

@mixin fontS13W700 {
  font-size: 13px;
  font-weight: 700;
}

// size 14
@mixin fontS14W700 {
  font-size: 14px;
  font-weight: 700;
}

@mixin fontS14W400 {
  font-size: 14px;
  font-weight: 400;
}

// size 15
@mixin fontS15W400 {
  font-size: 15px;
  font-weight: 400;
}

@mixin fontS15W600 {
  font-size: 15px;
  font-weight: 600;
}

@mixin fontS15W700 {
  font-size: 15px;
  font-weight: 700;
}

@mixin fontS15W800 {
  font-size: 15px;
  font-weight: 800;
}

// size 16
@mixin fontS16W400 {
  font-size: 16px;
  font-weight: 400;
}

@mixin fontS16W600 {
  font-size: 16px;
  font-weight: 600;
}

// size 17
@mixin fontS17W700 {
  font-size: 18px;
  font-weight: 700;
}

@mixin fontS17W800 {
  font-size: 18px;
  font-weight: 800;
}

// size 18
@mixin fontS18W400 {
  font-size: 18px;
  font-weight: 400;
}

@mixin fontS18W600 {
  font-size: 18px;
  font-weight: 600;
}

// size 19
@mixin fontS19W400 {
  font-size: 19px;
  font-weight: 400;
}

// size 20
@mixin fontS20W600 {
  font-size: 20px;
  font-weight: 600;
}

@mixin fontS20W700 {
  font-size: 20px;
  font-weight: 700;
}

@mixin fontS20W900 {
  font-size: 20px;
  font-weight: 900;
}

// size 21
@mixin fontS21W600 {
  font-size: 21px;
  font-weight: 600;
}

// size 24
@mixin fontS24W700 {
  font-size: 24px;
  font-weight: 700;
}

// size 26
@mixin fontS26W300 {
  font-size: 26px;
  font-weight: 300;
}

@mixin fontS26W600 {
  font-size: 26px;
  font-weight: 600;
}

@mixin fontS26W700 {
  font-size: 26px;
  font-weight: 700;
}

// size 28
@mixin fontS28W300 {
  font-size: 28px;
  font-weight: 300;
}

@mixin fontS28W700 {
  font-size: 28px;
  font-weight: 700;
}

@mixin fontS28W900 {
  font-size: 28px;
  font-weight: 900;
}

// size 30
@mixin fontS30W400 {
  font-size: 30px;
  font-weight: 400;
}

@mixin fontS30W700 {
  font-size: 30px;
  font-weight: 700;
}

// size 32
@mixin fontS32W400 {
  font-size: 32px;
  font-weight: 400;
}

@mixin fontS32W600 {
  font-size: 32px;
  font-weight: 600;
}

// size 38
@mixin fontS38W400 {
  font-size: 38px;
  font-weight: 400;
}

// size 40
@mixin fontS40W700 {
  font-size: 40px;
  font-weight: 700;
}
