@use "../../styles/fonts"  as *;
@use "../../styles/media"  as *;

.section {
  padding-bottom: 600px;
  position: relative;

  &::after {
    content: "";
    background-image: url(../../public/serviseBgMobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1530px;
    display: block;
    width: 100%;
    top: 65px;
    right: 0;
    z-index: 1;
    position: absolute;

    @include tablet {
      background-image: url(../../public/servisesBgTablet.png);
      top: -506px;
      height: 1994px;
    }

    @include desktop {
      background-image: url(../../public/servisesBgDesktop.png);
      top: -594px;
      height: 3450px;
    }
  }
}

.description {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.title {
  padding: 44px 67px 24px 16px;
  max-width: 365px;

  @include tablet {
    max-width: 458px;
    padding-top: 60px;
    padding-left: 108px;
  }

  @include desktop {
    padding-top: 96px;
    padding-left: 294px;
    max-width: 752px;
    @include fontS40W700;
  }
}

.text {
  @include fontS15W400;
  color: var(--white-color);
  padding: 0 120px 290px 16px;
  max-width: 370px;

  @include tablet {
    padding-left: 108px;
    max-width: 450px;
    padding-bottom: 445px;
  }

  @include desktop {
    padding-left: 294px;
    max-width: 450px;
    max-width: 780px;
    padding-bottom: 812px;
    @include fontS18W400;
  }
}

.list {
  z-index: 10;
  position: relative;
  margin-left: 45%;
  margin-top: -316px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include tablet {
    width: 100%;
    margin-left: -36px;
    align-items: flex-end;
    margin-top: -638px;
  }

  @include desktop {
    margin-left: -414px;
    margin-top: -1038px;
  }

  li:not(:first-of-type) {
    margin-top: -52px;

    @include tablet {
      margin-top: 0;
    }
  }

  li:nth-child(2) {
    @include tablet {
      margin-right: 128px;
      margin-top: -48px;
    }

    @include desktop {
      margin-right: 206px;
      margin-top: -66px;
    }
  }

  li:nth-child(3) {
    @include tablet {
      margin-top: -48px;
      margin-right: 254px;
    }

    @include desktop {
      margin-top: -64px;
      margin-right: 414px;
    }
  }

  li:nth-child(4) {
    @include tablet {
      position: absolute;
      right: 514px;
      bottom: 128px;
    }

    @include desktop {
      right: 836px;
      bottom: 208px;
    }
  }

  li:nth-child(5) {
    @include tablet {
      position: absolute;
      right: 0;
      bottom: 128px;
    }

    @include desktop {
      bottom: 208px;
    }
  }

  li:nth-child(6) {
    @include tablet {
      margin-top: -48px;
      margin-right: 384px;
    }

    @include desktop {
      margin-top: -64px;
      margin-right: 622px;
    }
  }
}

.offset {
  margin-left: -125px;

  @include tablet {
    margin-left: 0;
  }
}

.scrollBlock {
  position: relative;
  z-index: 10;
  margin: 81px auto 0;
  max-width: 221px;
  text-align: center;
  color: var(--grey-text-color);
  @include fontS18W600;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include tablet {
    margin-top: 210px;
  }

  @include desktop {
    margin-top: 162px;
  }
}
