@import "../../styles/media";

.wrap {
  position: relative;

  @include tablet {
    padding: 14px 44px 15px 30px;
    background-color: var(--white-color);
  }

  @include desktop {
    display: none;;
  }
}
