@import "../../styles/fonts";
@import "../../styles/media";
@import "../../styles/graphics";

.wrap {
  display: flex;
  gap: 40px;
  flex-direction: column;
  position: relative;
  padding-bottom: 32px;

  @include tablet {
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 0;
    gap: 36px;
  }

  &::after {
    @include borderHorizontal;
    @include partnersBorderBottom;

    @include tablet {
      display: none;
    }
  }

  .title {
    @include fontS26W300;
    color: var(--light-title-color);
    position: relative;

    @include tablet {
      rotate: -90deg;
      height: fit-content;
      white-space: nowrap;
      align-items: flex-end;
      width: 30px;
      @include fontS28W300;
    }

    @include desktop {
      @include fontS32W300;
    }

    &::before {
      position: absolute;
      content: "";
      width: 74px;
      height: 22px;
      bottom: 0;
      left: -5px;
      background-color: var(--orange-color);
      z-index: -1;

      @include desktop {
        width: 96px;
        height: 26px;
      }
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 32px;
    position: relative;

    @include tablet {
      padding-bottom: 32px;
      column-gap: 1px;
      width: 100%;
    }

    @include desktop {
      padding-bottom: 98px;
    }

    &::after {
      @include tablet {
        @include borderHorizontal;
        @include partnersBorderBottom;
      }
    }
  }

  .isAdmin {
    row-gap: 48px;

    @include tablet {
      flex-direction: row;
      gap: 8px;
    }

    @include desktop {
      gap: 41px;
    }
  }
}
