@import "../../styles/fonts";
@import "../../styles/media";

.section {
  padding: 0 16px;
  margin-top: -508px;
  z-index: 100;
  position: relative;

  @include tablet {
    margin-top: -522px;
    padding: 0;
  }

  @include desktop {
    margin-top: -492px;
    @include fontS40W700;
  }

  .title {
    @include fontS28W700;
    color: var(--black-color);
    text-align: center;
    margin-bottom: 24px;

    @include tablet {
      @include fontS30W700;
      max-width: 400px;
      margin: 0 auto 24px;
    }
  }

  .text {
    @include fontS16W400;
    color: var(--grey-text-color);
    text-align: center;

    @include tablet {
      max-width: 500px;
      margin: 0 auto;
    }

    @include desktop {
      @include fontS18W400;
    }
  }

  .swiperWrap {
    padding: 24px 0 0 0;
    position: absolute;
    width: 100%;

    @include tablet {
      padding: 46px 0 44px 0;
    }

    @include media1260 {
      div[class*="swiper-wrapper"] {
        justify-content: center;
      }
    }

    @include desktop {
      padding: 51px 0 44px 0;
    }

    .pagination {
      @include tablet {
        bottom: 0;
      }
    }
  }

  .slide {
    width: 358px;

    @include tablet {
      width: 210px;
    }

    @include desktop {
      width: 288px;
    }
  }

  .bullet {
    width: 9px;
    height: 9px;
    background: var(--bullet-color);
    opacity: 1;
    display: inline-block;
    border-radius: 50%;
    margin: 0 4px;
  }

  .activeBullet {
    background: var(--orange-color);
  }
}
