@import "../../styles/fonts";
@import "../../styles/media";

.section {
  background-image: url(../../public/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 141px 31px 61px 16px;

  @include tablet {
    background-image: url(../../public/bgTablet.png);
    padding: 205px 0 327px 44px;
  }

	@include desktop {
		background-image: url(../../public/bgDesktop.png);
    padding: 279px 0 350px 170px;
	}

  .title {
    letter-spacing: -3px;
    max-width: 460px;
  }

  .bold {
    font-weight: 600;
  }

  .text {
    @include fontS18W400;
    max-width: 264px;
    color: var(--white-color);
    max-width: 380px;

    &:first-of-type {
      margin-top: 24px;
    }

    &:last-of-type {
      margin-top: 28px;
    }
  }

  .advanteges {
    margin-top: 40;
    display: flex;
    gap: 24px;
    @include fontS20W900;
    color: var(--white-color);

    @include tablet {
      display: none;
    }
  }

  .buttons {
    display: flex;
    gap: 16px;
    margin-top: 40px;
  }

  &::after {
    content: "";
    background-image: url(../../public/orangeTriangle.png);
    position: absolute;
    top: 256px;
    right: 0;
    height: 232px;
    width: 98px;
    z-index: 10;

    @include tablet {
      background-image: url(../../public/advantages.png);
      top: 278px;
      height: 500px;
      width: 390px;
    }

		@include desktop {
      background-image: url(../../public/desktopAdv.png);
			top: 145px;
			height: 675px;
			width: 740px;
    }
  }
}
