@use "../../styles/fonts" as *;
@use "../../styles/media" as *;

.footer {
  padding: 15px 22px 21px 22px;
  background-color: var(--blue-color);
  @include fontS12W400;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--white-color);

  @include tablet {
    padding: 16px 44px 20px 44px;
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    @include fontS14W300;
    padding: 25px 144px 33px 144px;
  }

  .list {
    @include fontS12W400;

    @include desktop {
      @include fontS14W300;
    }
  }
}
